#root {
  overflow: hidden;
  max-width: 95vw;
  padding: 2rem;
  text-align: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  margin: 0 auto;
}

.App {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.Banner {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 5;
  font-weight: bold;
  margin-top: 0;
  margin-left: 0;
  margin-right: 0;

  color: rgba(0, 0, 0, 0.87);
}

.video-responsive {
  display: flex;
  align-items: center;
  margin: 0 auto;
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;
  width: 100vw;
  height: 100vh;
  /* ^ these values are the container width/height, which the child (iframe) depends on */
}

.video-responsive iframe {
  left: 0;
  top: 0;
  position: absolute;
  width: 90vw;
  height: 90vh;
}
