#root {
  overflow: hidden;
  max-width: 95vw;
  min-width: 95vw;
  scroll-behavior: smooth;
  text-align: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  margin: 0 auto;
}

.App {
  display: flex;
  flex-direction: column;
  font-family: sans-serif;
  text-align: center;
  margin: 0 auto;
  overflow: hidden;
  max-width: 95vw;
  text-align: center;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-bottom: 2rem;
  padding-top: none;
}

.video-responsive {
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;
  height: 0;
}

.video-responsive iframe {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute;
}

.Thesis {
  align-self: center;
  padding-top: 25vw;
}

.Pages {
  padding-top: 25vw;
  padding-bottom: 5vw;
}

.Footer{
  display: flex;
  flex-direction: row;
  min-height: 100px;
}
